/* This is for my "title" */
h1{
	color:white;
	font-size:100px;
}

p{
	color:white;
	font-size:40px;
}

ul{
	color:white;
}

tr{
	color:white;
}

div{
	color:white;
}

/* This creates a box for certain text */
#box{
	color:white;
	background-color:blueviolet;
	width:100px;
	height:100px;
	margin:10px;
	padding:10px;
	border:2px solid red;
}

form {
	color:white;
}